<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>962259308264-2ot5p1dpe77nsacr6tmscm87r7l4daot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962259308264-2ot5p1dpe77nsacr6tmscm87r7l4daot</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Hd_M7_7MFSjQxNlGVxOgKKORagcTw4o</string>
	<key>GCM_SENDER_ID</key>
	<string>962259308264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasnugent.TravelExpense</string>
	<key>PROJECT_ID</key>
	<string>travelexpenses-8bac5</string>
	<key>STORAGE_BUCKET</key>
	<string>travelexpenses-8bac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:962259308264:ios:e7e3841b9f2a42b4</string>
	<key>DATABASE_URL</key>
	<string>https://travelexpenses-8bac5.firebaseio.com</string>
</dict>
</plist>